<!doctype html>
<html>
<head>
    
</head>
    <title>Vulcan Newscasting - View Streams</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/import.css" />
<body>
    <div class="primary-nav">
        <div class="primary-nav-container">
            <div class="primary-block"><img src="../images/eagle.png" /></div>
            <div class="standard-block active">
                <i class="fa fa-paper-plane-o"></i>
                <a href="#">News</a>
            </div>
            <div class="standard-block">
                <i class="fa fa-user"></i>
                <a href="#">Users</a>
            </div>
            <div class="standard-block">
                <i class="fa fa-newspaper-o"></i>
                <a href="#">Articles</a>
            </div>
        </div>
    </div>
    <div class="secondary-nav">
        <div class="search">
            <i class="fa fa-search"></i>
            <input type="text" name="search" value="Search."/>
        </div>
        <div class="secondary-block first clearfix">
            <i class="fa fa-file-o"></i>
            <a href="../">Create New Stream</a>
        </div>
        <hr></hr>
        <div class="secondary-block clearfix active">
            <i class="fa fa-eye"></i>
            <a href="../view/">View Streams</a>
        </div>
        <hr></hr>
        <div class="secondary-block clearfix">
            <i class="fa fa-cog"></i>
            <a href="../admin/">Administrate</a>
        </div>
    </div>
        <div class="horizontal-nav">
        <div class="hnav-info">
            <img src="../images/face_icon.jpg">
            <p>Dan Wildman</p>
            <div class="hnav-icons">
                <i class="fa fa-question"></i>
                <i class="fa fa-sign-out"></i>
            </div>
        </div>
    </div>
    <div class="main-body">
        <div class="body-container">
            <h1>View Streams</h1>
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" name="search" value="Search."/>
            </div>
            <div class="stream-selector">
                <label>
                    <select>
                        <option value="active" selected>Show Active</option>
                        <option value="inactive">Show Inactive</option>
                        <option value="all">Show All</option>
                    </select>
                </label>
            </div>
            <div class="table-container">
                <table class="main-table">
                    <tr class="lead-row">
                        <td class="checkbox-container"><input class="table-override-check" type="checkbox" /></td>
                        <td><h7>Stream Name</h7></td>
                        <td><h7>Stream Category</h7></td>
                        <td><h7>Created By</h7></td>
                        <td><h7>Created At</h7></td>
                        <td><h7>Author Count</h7></td>
                        <td><h7>Post Count</h7></td>
                    </tr>
                    <tr class="standard-row">
                        <td class="checkbox-container"><input type="checkbox" /></td>
                        <td><p>Varsity 2015</p></td>
                        <td><p>Sports</p></td>
                        <td><p>Dan Wildman</p></td>
                        <td><p>3</p></td>
                        <td><p>14/11/2015</p></td>
                        <td><p>17</p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
